.backgroundblue{
	background-color: #4361ee;
}

.img{
	max-width: 80%;
	margin-top: 5%;
	height: 20%;
}

#CenterObj{
	background-image: url("/static/backgroundimg.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.Mright{
	margin-right:3px;
}

.MRightProfile{
	margin-right:6%;
}

#CenterObjProfile{
	background-image: url("/static/ProfileBackground.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}